* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body,
a {
	font-family: "Source Sans 3", sans-serif;
	color: #435766;
	font-size: 16px;
	font-weight: 400;
}

a {
	text-decoration: none;
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	background: #8dd83d;
	color: #ffffff;
	transition: all 0.5s ease 0s;
}

.button:hover {
	background: #52910f;
	box-shadow: 0 0 10px 0 #52910f;
	text-shadow: 0 0 5px #fff;
}

.container {
	max-width: 1080px;
	margin: 0 auto;
	padding: 0 15px;
}

.header {
	background: #373a3c;
	border-bottom: 2px solid #777;
	padding: 11px 0;
}

.header-content {
	display: flex;
	align-items: center;
}

.header-logo-img {
	height: 29px;
}

.header-menu {
	flex: 1 1 auto;
}

.header-menu-body {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	list-style: none;
}

.header-menu-item {
	margin: 0 0 0 35px;
}

.header-menu-link {
	transition: all 0.5s ease 0s;
}

.header-menu-link:hover {
	color: #ffffff;
	text-shadow: 0 0 5px #ffffff;
}

.header-form {

}

.header-search {
	border-radius: 4px;
	border: 1px solid #CCC;
	background: #FFF;
	display: block;
	width: 200px;
	padding: 10px 15px;
	margin: 0 0 0 15px;
	outline: none;
}

.menu-icon {
display: none;
height: 45px;
width: 45px;
flex: 0 0 40px;
background: url(../images/menu.png) no-repeat center;
border: none;
cursor: pointer;
margin: 0 0 0 35px;
}

.home {
	min-height: calc(100vh - 59px);
	background: url(../images/battlefront-II.jpg) no-repeat center / cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.home-title {
	color: #fff;
	font-size: 75px;
	font-weight: 400;
}

.home-subtitle {
	color: #fff;
	font-size: 24px;
	margin: 0 0 100px 0;
}

.home-button {
	min-width: 136px;
	padding: 10px 25px;
}

.best {
	background: linear-gradient(180deg, #686c6f 0%, #373a3c 100%);
	padding: 65px 0 165px 0;
}

.best-logo {
	height: 64px;
	display: block;
	margin: 0 auto 16px auto;
}

.best-title {
	color: #fff;
	font-size: 36px;
	font-style: normal;
	font-weight: 400;
	text-align: center;
	margin: 0 0 40px 0;
}

.best-title-big {
	font-size: 48px;
	display: block;
}

.cards-row {
display: flex;
justify-content: center;
flex-wrap: wrap;
gap: 25px;
}
.card {
	border-radius: 4px;
	border: 1px solid #8dd83d;
	background: #fff;
	overflow: hidden;
	flex: 0 0 320px;
	width: 320px;
	transition: all 0.5s ease;
}
.card:hover{
	transform: scale(1.05);
	box-shadow: 0 0 10px 0 #8dd83d;
}
.card-image {
	height: 180px;
}
.best-card-image-1 {
	background: url(../images/best-card-01.jpg) no-repeat center/ cover;
}
.best-card-image-2 {
	background: url(../images/best-card-02.jpg) no-repeat center/ cover;
}
.best-card-image-3 {
	background: url(../images/best-card-03.jpg) no-repeat center/ cover;
}
.card-content {
	padding: 20px
}
.card-tittle {
	color: #435766;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin: 0 0 10px 0;
}
.card-text {
	color: #435766;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin: 0 0 40px 0;
}
.card-text-block {
display: block;
}
.card-button {
padding: 20px;
}

.pads-button:hover {
	background: #8dd83d;
}

@media (max-width: 777px) {
.menu-icon{
	display: block;
	position: relative;
	z-index: 10;
}

.menu-icon.active {
	background: url(../images/menu.png) no-repeat center/cover;;
}

.header-menu-body {
	position: fixed;
	top: -100%;
	left: 0;
	height: 100%;
	width: 100%;
	background:#FFF;
	transition: all 0.5s ease;
	display: block;
	padding: 150px 0 0 0;
}


.header-menu-body.active {
	top: 0
}

.header-logo {
	position: relative;
	z-index: 10;
}

.header-search {
	position: relative;
	z-index: 10;
}
}

